$size-text-large-desktop: 20px;
$size-text-medium-desktop: 20px;
$size-text-small-desktop: 20px;

$size-text-large-tablet: 20px;
$size-text-medium-tablet: 20px;
$size-text-small-tablet: 20px;

$size-text-large-phone: 20px;
$size-text-medium-phone: 20px;
$size-text-small-phone: 20px;
